@model AdventureTourManagement.ViewModels.ActivityCartDTO

@{
    ViewData["Title"] = "AddToCart";
    Layout = "~/Views/Shared/Master.cshtml";
}

    <div class="row">
        <div class="col-md-4 border p-3">
            <div style="font-size: 20px;">
                @Model.ActivityName has been added to the cart.
            </div>
        </div>
        <div class="col-md-8 border p-3">
            @Html.ActionLink("View Cart", "ViewShoppingCart","Shop",null,new { @class="btn btn-primary"})
            @Html.ActionLink("Continue Shopping", "FetchAllActivity", "GuestDashboard", null, new { @class = "btn btn-primary" })
        </div>
    </div>

