@model AdventureTourManagement.ViewModels.VMUserDetail
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Booking Confirmation</h2>

<div>
    Booking confirmation email sent on configured email ID.
</div>

