@model ADSM.ViewModels.VMUserDetail
@{
    ViewBag.Title = "GetUserDetails";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>User Details</h2>

@{ 

    <div>
        @Html.Label("Email")
        @Html.TextBoxFor(x => x.user_email)

        @Html.ActionLink("Send Token", "AuthenticateUserEmail",new { Model.activity_id, Model.user_email}, new { @class = "btn btn-info btn-activity" })

    </div>
}
