
@{
    ViewData["Title"] = "VerifyTokenAsync";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Booking Confirmed !!</h2>

@Html.ActionLink("Continue Shopping", "FetchAllActivity", "GuestDashboard", null, new { @class = "btn btn-primary" })

