    
@{
    ViewBag.Title = "GuestDashboard";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>GuestDashboard</h2>

@{ 



    foreach (var item in ViewBag["Recommactivities"])
    {
        
    }
}

