
@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/jquery-jvectormap-2.0.5.css" />
</head>
<body>
    <div>
        <h2>Welcome 2 Index</h2>

        <div id="map" style="width:600px;height:400px;">
        </div>

        <script src="~/Scripts/jquery-1.12.4.min.js"></script>
        <script src="~/Content/jquery-jvectormap-2.0.5.min.js"></script>
        <script src="~/Content/jquery-jvectormap-in-mill.js"></script>
    </div>
</body>
</html>

<script type="text/javascript">

    $(function () {
        $('#map').vectorMap({ map: 'in_mill' });
    });
</script>
