
@{
    ViewBag.Title = "Map";
    //Layout = "~/Views/Shared/Master.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Vector Maps</title>
</head>
<body>
    <h2>Map</h2>

    <div id="map" style="width:600px;height:400px;">
    </div>
</body>
</html>

<script type="text/javascript">

    $(function(){
     $('#map').vectorMap({map: 'in_mill'});
    });
</script>




