@model AdventureTourManagement.ViewModels.VmUser

@{
    ViewData["Title"] = "UpdateUserPasswordView";
    Layout = "~/Views/Shared/Master.cshtml";
}


@using (Html.BeginForm("UpdateUserPassword", "User", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.DecryptedUserEmail)
    <table>
        <tr>
            <td> Password : </td>
            <td> @Html.PasswordFor(x => x.UserEncyryptedKey)</td>
        </tr>
        <tr>
            <td> Secret Message : </td>
            <td> @Html.PasswordFor(x => x.UserEncryptionMessage)</td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
}




