[*.cs]

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = none

# CA3147: Mark Verb Handlers With Validate Antiforgery Token
dotnet_diagnostic.CA3147.severity = none

# CA1052: Static holder types should be Static or NotInheritable
dotnet_diagnostic.CA1052.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# IDE0044: Add readonly modifier
dotnet_style_readonly_field = true:none

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = none

# IDE0001: Simplify Names
dotnet_diagnostic.IDE0001.severity = none
